/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Bifrost Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

profiles {

  local {
    includeConfig 'conf/standard.config'
  }
  condalocal {
    includeConfig 'conf/standard.config'
    includeConfig 'conf/condastandard.config'
    includeConfig 'conf/conda.config'

  }
  slurm {
    includeConfig 'conf/slurm.config'
  }
  condaslurm {
    includeConfig 'conf/slurm.config'
    includeConfig 'conf/condaslurm.config'
    includeConfig 'conf/conda.config'

  }
}

workflow.onComplete = {
    // any workflow property can be used here
    println "Pipeline complete"
    println "Command line: $workflow.commandLine"
    println "Nextflow Version:	$workflow.nextflow.version"
    println "Command Line:		$workflow.commandLine"
    println "Duration:		    $workflow.duration"
    println "Output Directory:	$params.out_dir"
}


workflow.onError = {
    println "Oops .. something when wrong"
}
