/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Bifrost Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

profiles {

  local {
    includeConfig 'conf/standard.config'
  }
  condalocal {
    includeConfig 'conf/standard.config'
    includeConfig 'conf/condastandard.config'
  }
  slurm {
    includeConfig 'conf/slurm.config'
  }
  condaslurm {
    includeConfig 'conf/slurm.config'
    includeConfig 'conf/condaslurm.config'
  }
}
