
// Track Three

/*
* This is the input, options and output file for Track Three.
*/

/*
* Specify your input:
* How: you have a star as a wildcard. Everything up to that is
* the prefix for the group of files that you will get. Variable
* things (lane names, read numbers etc) are specified within
* curly brackets. Make sure that setsize matches the number of
* files that you get matching the prefix!
*/
params.reads = "../testdata/risk_short/*L00{1,2}_R{1,2}_001.fastq.gz"
params.setsize = 4

//  Specify the name of the output directory, relative to where the script is being run
params.out_dir = "track_three"

// General configuration variables
params.pwd = "$PWD"
params.help = false
params.savemode = "copy"

// BBDuk params, has to be absolute paths
params.stripgenome = "/cluster/projects/nn9305k/genome_references/genomes/PhiX/PhiX.fasta"
params.stripdir = "/cluster/projects/nn9305k/genome_references/bbmap_refs"


// Trimmomatic configuration variables
params.illuminaClipOptions = "2:30:10"
// If you are using CROP/HEADCROP, insert the full command in the slidingwindow text string.
params.slidingwindow = "4:15"
params.leading = 3
params.trailing = 3
params.minlen = 36
params.adapters = "TruSeq3-PE.fa"
params.adapter_dir = "/cluster/projects/nn9305k/db_flatfiles/trimmomatic_adapters"


// SPAdes configuration variables
params.assembly = "spades_asm"
params.careful = "--careful"
params.cov_cutoff = "off"
params.min_contig_len = "500"

// PROKKA configuration variables
params.locustag = "locustag"
params.genus = "Escherichia"
params.species = "coli"
params.kingdom = "Bacteria"
// If you have additional options to set, put them here.
params.prokka_additional = ""
params.centre = "NVI"



// QUAST variables
params.genome_directory = "/cluster/projects/nn9305k/genome_references/genomes/"
params.quast_ref = "${params.genome_directory}ecoli/GCF_000005845.2_ASM584v2_genomic.fna"
params.quast_genes = "${params.genome_directory}ecoli/GCF_000005845.2_ASM584v2_genomic.gff"
