
// Track Three

/*
* This is the input, options and output file for Track Three.
*/

/*
* Specify your input:
* How: you have a star as a wildcard. Everything up to that is
* the prefix for the group of files that you will get. Variable
* things (lane names, read numbers etc) are specified within
* curly brackets. Make sure that setsize matches the number of
* files that you get matching the prefix!
*/
params.reads = "../testdata/risk_short/*L00{1,2}_R{1,2}_001.fastq.gz"
params.setsize = 4

// General configuration variables
params.pwd = "$PWD"
params.help = false
params.savemode = "copy"


// Directory to where data is stored
params.data_dir = "/cluster/projects/nn9305k/vi_pipeline_data/bifrost_data"
params.multiqc_config = "/cluster/projects/nn9305k/Bifrost22/conf/multiqc_config.yaml"

// BBDuk params, has to be absolute paths
params.stripgenome = "${params.data_dir}/genome_references/genomes/PhiX/PhiX.fasta"
params.stripdir = "${params.data_dir}/genome_references/bbmap_refs"


// Trimmomatic configuration variables
params.illuminaClipOptions = "2:30:10"
// If you are using CROP/HEADCROP, insert the full command in the slidingwindow text string.
params.slidingwindow = "4:15"
params.leading = 3
params.trailing = 3
params.minlen = 36
params.adapters = "NexteraPE-PE.fa"
params.adapter_dir = "${params.data_dir}/trimmomatic_adapters"


// SPAdes configuration variables
params.assembly = "spades_asm"
params.cov_cutoff = "auto"
params.min_contig_len = "500"

// PROKKA configuration variables
params.locustag = "locustag"
params.genus = "Escherichia"
params.species = "coli"
params.kingdom = "Bacteria"
// If you have additional options to set, put them here.
params.prokka_additional = ""
params.centre = "NVI"



// QUAST variables
params.quast_ref = "${params.data_dir}/genome_references/genomes/ecoli/GCF_000005845.2_ASM584v2_genomic.fna"
params.quast_genes = "${params.data_dir}/genome_references/genomes/ecoli/GCF_000005845.2_ASM584v2_genomic.gff"
