/*
* Standard profile file for use with conda.
* This setup will ensure that all command line programs
* are available on the command line as expected.
* condahome should be set in condastandard or condaslurm files
*/

process { 

  withName: run_fastqc {
  conda = "${params.condahome}/bifrost2022-fastqc"
  }

  withName: run_fastqc_trimmed {
  conda = "${params.condahome}/bifrost2022-fastqc"
  }

  withName: run_multiqc {
  conda = "${params.condahome}/bifrost2022-multiqc"
  }

 withName: run_multiqc_final {
  conda = "${params.condahome}/bifrost2022-multiqc"
  }

  withName: run_strip {
  conda = "${params.condahome}/bifrost2022-bbtools"
  }

  withName: run_trim {
  conda = "${params.condahome}/bifrost2022-trimmomatic"
  }

  withName: run_spadesasm {
  conda = "${params.condahome}/bifrost2022-spades"
  }

  withName: run_bwamem {
  conda = "${params.condahome}/bifrost2022-bwa"
  }

  withName: run_pilon {
  conda = "${params.condahome}/bifrost2022-pilon"
  }

  withName: run_prokka {
  conda = "${params.condahome}/bifrost2022-prokka"
  }

  withName: run_quast {
  conda = "${params.condahome}/bifrost2022-quast"
  }

  withName:run_ariba_mlst_pred {
  conda = "${params.condahome}/bifrost2022-ariba"
  }
  
  withName:run_ariba_mlst_summarize {
  conda = "${params.condahome}/bifrost2022-ariba"
  }
  
  withName:run_ariba_amr_pred {
  conda = "${params.condahome}/bifrost2022-ariba"
  }
  
  withName:run_ariba_amr_summarize {
  conda = "${params.condahome}/bifrost2022-ariba"
  }
  
  withName:run_ariba_vir_pred {
  conda = "${params.condahome}/bifrost2022-ariba"
  }
  
  withName:run_ariba_vir_summarize {
  conda = "${params.condahome}/bifrost2022-ariba"
  }

}