// Input and output
// Specify your input:
params.reads = "../testdata/short/*R{1,2}_001.short.fastq.gz"
//  Specify the name of the output directory, relative to where the input is
params.out_dir = "results"


// General configuration variables
params.pwd = "$PWD"
params.help = false

params.threads = 1

// Trimmomatic configuration variables
params.tm_leading = 3
params.tm_trailing = 3
params.tm_slidingwindow = "4:15"
params.tm_minlen = 36
params.tm_adapters = "TruSeq3-PE.fa"

// Ariba mlst params
//params.mlst_scheme = "Escherichia coli#1"
params.mlst_scheme = "Campylobacter jejuni"
params.mlst_results = "mlst_results"


// Ariba AMR params
// Check the ariba webpage for legal values
params.amr_db = "card"
params.amr_results = "amr_results"

// Ariba virulence params
// Check the ariba webpage for legal values
params.vir_db = "vfdb_core"
params.vir_results = "vir_results"