// cluster specific options
process {
    executor = 'slurm'
    clusterOptions = '--job-name=nxf_test --account=nn9305k --mem-per-cpu=3140'
    maxForks=64
    time = { 2.h * task.attempt }
    maxRetries=3
    errorStrategy='retry'

// Abel specific software options

    $run_fastqc {
        threads = 6
        time = { 30.m * task.attempt }
        module = ['fastqc']
        fastqc = "fastqc"
    }

    $run_fastqc_eval {
        time = { 30.m * task.attempt }
        module = ['python3']
    }

    $run_trim {
        threads = 6
        time = { 30.m * task.attempt }
        trimmomatic = 'java -Xmx1024 -jar /work/projects/nn9305k/bin/Trimmomatic-0.36/trimmomatic-0.36.jar'
        adapter_dir = '/work/projects/nn9305k/bin/Trimmomatic-0.36/adapters'
    }

    $spades_assembly {
        cpus = 16
        time = { 6.h * task.attempt}
        module = ['spades/3.9.0']
        spades = 'spades.py'

    }

    $quast_eval {
        threads = 6
        time = { 30.m * task.attempt }
        module = ['quast']
        quast = 'quast.py'
    }
}
