// cluster specific options
process {
    executor = 'slurm'
    clusterOptions = '--job-name=nxf_test --account=nn9305k --mem-per-cpu=3140'
    maxForks=64
    time = { 2.h * task.attempt }
    maxRetries=3
    errorStrategy='retry'

// Abel specific software options


    $run_trim {
        threads = 6
        trimmomatic = 'java -jar /work/projects/nn9305k/bin/Trimmomatic-0.36/trimmomatic-0.36.jar'
        adapter_directory = '/work/projects/nn9305k/bin/Trimmomatic-0.36/adapters'
    }

    $spades_assembly {
        cpus = 1
        module = ['spades/3.9.0']
        spades = 'spades.py'

    }
}