/*
* This file contains parameters to the bifrost pipeline. The standard params
* will be used when not running on the abel cluster, the abel options can be
* activated with the -profile option to run when running on abel
*/

profiles {

    standard {
        process.executor = 'local'
    }

    abel_nn9305k {
        process.executor = 'slurm'
        process.queue = 'nn9305k'
        process.cpus = '32'
        process.time = '36h'
        process.memory = '4GB'
    }
}