// Track One

/*
* This is the input, options and output file for Track One.
*/

/*
* Specify your input:
* How: you have a star as a wildcard. Everything up to that is
* the prefix for the group of files that you will get. Variable
* things (lane names, read numbers etc) are specified within
* curly brackets. Make sure that setsize matches the number of
* files that you get matching the prefix!
*/
params.reads = "../testdata/risk_short/*L00{1,2}_R{1,2}_001.fastq.gz"
params.setsize = 2

// General configuration variables
params.pwd = "$PWD"
params.help = false
params.savemode = "copy"

// Raw fastqc results
params.fastqc = "fastqc"

// Fastqc evaluation results
params.fastqc_eval = "fastqc_eval"
