/*
* Profile for use on a slurm queueing system
* This file will have to be modified to your local system
* This file currently assumes that commands are available
* on the command line, somehow.
*
* Currently this file is tuned to work on the Abel University
* of Oslo HPC cluster.
*/

/*
* The underlying assumption is that all processes unless
* otherwise specified uses 16 cpus, and have an upper limit
* of two hours. Exeptions are programs such as fastqc
* and multiqc which do not benefit from multiple cpus.
* These are labeled 'one' in the code.
* Additionally, spades is given more time.
*/

process {
    executor = 'slurm'
    clusterOptions = '--job-name=nxf_test --account=nn9305k --mem-per-cpu=3140'
    maxForks = 128
    maxRetries = 3
    errorStrategy='retry'

    cpus = 16

    time = { 1.h * task.attempt }
    withName: run_spadesasm {time = { 4.h * task.attempt }}
}
