// Input and output
/*
* Specify your input:
* How: you have a star as a wildcard. Everything up to that is
* the prefix for the group of files that you will get. Variable
* things (lane names, read numbers etc) are specified within
* curly brackets. Make sure that setsize matches the number of
* files that you get matching the prefix!
*/
params.reads = "../testdata/fastq_files/*L00{1,2}_R{1,2}_001.fastq.gz"
params.setsize = 2
//  Specify the name of the output directory, relative to where the script is being run
params.out_dir = "track_two"

// General configuration variables
params.pwd = "$PWD"
params.help = false
params.savemode = "copy"

params.threads = 1

// Databases need to be preloaded into the directories specified below.

// Ariba mlst params
params.do_mlst = "yes"
//params.mlst_scheme = "Escherichia coli#1"
params.mlst_db = "/cluster/projects/nn9305k/db_flatfiles/specific_genes_bifrost/mlst/Escherichia_coli_1_db"
params.mlst_results = "mlst_results"

// Ariba AMR params
params.do_amr = "yes"
params.amr_db = "/cluster/projects/nn9305k/db_flatfiles/specific_genes_bifrost/amr/card_db"
params.amr_results = "amr_results"

// Ariba virulence params
params.do_vir = "yes"
params.vir_db = "/cluster/projects/nn9305k/db_flatfiles/specific_genes_bifrost/vir/virulencefinder_db"
params.vir_results = "vir_results"
