/*
*  Standard config file to use on a local computer
*/


env {
    PATH = '/home/karinlag/bin/:${PATH}'

}


process {
    executor = "local"
    cpus = 1

     /* Programs that have to be available on the cmd line
    * To run ariba (mlst, amr and virulence):
    *
    * python3
    * ariba
    * cd-hit
    * mummer
    * bowtie2
    *
    */

    $run_trim {
        threads = 1

    }


}
