/*
*  Standard config file to use on a local computer
*/


env {
    PATH = '/home/karinlag/bin/:${PATH}'

}


process {
    executor = "local"
    cpus = 1

     /* Programs that have to be available on the cmd line
    * To run ariba (mlst, amr and virulence):
    *
    * python3
    * ariba
    * cd-hit
    * mummer
    * bowtie2
    *
    */

    $run_trim {
        threads = 1
        trimmomatic = 'java -jar /home/karinlag/bin/Trimmomatic-0.36/trimmomatic-0.36.jar'
        adapter_directory = '/home/karinlag/bin/Trimmomatic-0.36/adapters'
    }

    $spades_assembly {
        cpus = 1
        spades = '/home/karinlag/bin/SPAdes-3.10.1-Linux/bin/spades.py'
    }


    $quast_eval {
        threads = 1
        time = { 30.m * task.attempt }
        quast = 'quast.py'
    }

}
