/*
* Standard profile file for use on a local computer
* This setup assumes that most of the software is available on
* the command line in the shell were Nextflow is being run.
*/

process {
    executor = "local"
    cpus = 1
    maxForks = 2
    //this is mostly for pilon, but can be used elsewhere too
    javaopts = ''

}
